.section-top {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.section__title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.swiper-wrapper {
  padding-top: 60px;
  padding-left: 30px;
}

.swiper-slide {
  width: 273px !important;
}

.swiper-button-next {
  visibility: hidden;
}

.swiper-button-prev {
  visibility: hidden;
}

@media (max-width: 768px) {
  .section__title {
    margin-bottom: 12px;
    font-size: 24px;
  }
}
