.rating-badge {
  padding: 4px 12px;
  padding-left: 30px;
  width: 70px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 16px;
  background-image: url(../../assets/images/star.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: left 10px center;
}
