.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
}

.header__logo {
  width: 240px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 20px;
}

.nav__item {
  position: relative;
}

.nav__link {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
}

.nav__link:hover {
  color: #ffffff;
}

.nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1.5px;
  background-color: #dc5dfc;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:active::after {
  opacity: 1;
  background-color: #dc5dfc;
}

.login_btn {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.login_btn:hover {
  color: #b4a9ff;
}

.header__icon {
  margin: 0;
  width: 24px;
  height: 24px;
}

@media (max-width: 1130px) {
  .header__menu {
    gap: 12px;
  }
}

@media (max-width: 1060px) {
  .container {
    padding: 24px 40px;
  }

  .header__logo {
    width: 136px;
  }
}
