.movie-info-table {
  padding: 40px 0 120px;
}

.movie-info-table__title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.movie-info-table__table {
  width: 600px;
  border-collapse: collapse;
}

.movie-info-table__row {
  width: 100%;
  display: flex;
  align-items: baseline;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.movie-info-table__label {
  margin-right: 10px;
  flex-shrink: 0;
}

.movie-info-table__dots {
  flex-grow: 1;
  border-bottom: 0.5px dotted #ffffff;
  margin-right: 10px;
  padding-bottom: 10px;
}

.hidden__dots {
  display: none;
}

.movie-info-table__value {
  width: 150px;
  text-align: left;
  vertical-align: top;
}
@media (max-width: 1060px) {
  .movie-info-table {
    padding: 32px 20px 32px;
  }
}

@media (max-width: 650px) {
  .movie-info-table__title {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .movie-info-table__table {
    width: 100%;
  }
  .movie-info-table__row {
    display: flex;
    flex-direction: column;
  }

  .movie-info-table__value {
    width: 100%;
  }

  .movie-info-table__label {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }
}
