.register-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
  width: 340px;
  align-self: stretch;
  gap: 12px;
}

.form-input {
  padding: 16px 24px 16px 48px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.40);
  background-color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: left 16px center;
}

input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.form-input_mail {
  background-image: url(../../assets/images/mail-icon.svg);
}

.form-input_name {
  background-image: url(../../assets/images/name-icon.svg);

}

.form-input_password {
  background-image: url(../../assets/images/password-icon.svg);
}

.form-input_last {
  margin-bottom: 12px;
}

.input-error {
  border-color: red;

}

.error-message {
  display: none;
}

.form-field__error-text {
  display: none;
}

.input-error.form-input_mail {
  background-image: url(../../assets//images/mail-icon-error.svg);
}

.input-error.form-input_name {
  background-image: url(../../assets//images/name-icon-error.svg);
}

.input-error.form-input_password {
  background-image: url(../../assets//images/password-icon-error.svg);
}

